:root {
    --font-logo: "Bahiana", sans-serif;
    --font-title: "Bebas Neue", sans-serif;
    --font-text: "Roboto", sans-serif;
    --color-dark: #181923;
    --color-light: #fef7ef;
    --color-primary: #0dcbe3;
    --color-secondary: #ffd662;
    --color-tertiary: #45be93;
    --bg-searchbar: #474967;
    --bg-card: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-text);
}

h2,
h3 {
    font-family: var(--font-title);
}

a {
    text-decoration: none;
    font-family: var(--font-title);
}

ul {
    list-style: none;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.menu {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: 0 20%;

    .menu-logo {
        display: flex;
        align-items: center;
        padding: 38px 0;
    }

    img {
        display: block;
        max-width: 100%;
    }

    .menu-content {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        .menu-content-center,
        .menu-content-right {
            display: flex;
        }

        .menu-content-center {
            justify-content: center;
            gap: 40px;

            .menu-content-center-link {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 28px;
                color: var(--color-light);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-light);
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }

                &:active {
                    transform: translateY(1px) scale(0.98);
                }
            }

            .is-active {
                color: var(--color-secondary);

                &::after {
                    background-color: var(--color-secondary);
                }

                &:hover::after {
                    background-color: var(--color-secondary);
                }
            }
        }

        .menu-content-right {
            justify-self: end;
            gap: 20px;

            .menu-content-right-link {
                display: flex;
                align-items: center;
                font-size: 28px;
                padding: 14px;
                border-radius: 50%;
                color: var(--color-light);
                border: 1px solid var(--color-light);
                transition: transform 0.2s ease;

                &:hover {
                    transform: translateY(-2px);
                }

                i {
                    display: inline-block;
                }

                &:hover i {
                    animation: icon-shake 0.7s ease-in-out;
                }

                &:active {
                    transform: translateY(1px) scale(0.98);
                }
            }
        }
    }
}

@keyframes icon-shake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(12deg);
    }

    40% {
        transform: rotate(-12deg);
    }

    60% {
        transform: rotate(8deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.hero {
    height: 80vh;

    .hero-video {
        position: absolute;
        top: 0;
        left: auto;
        z-index: -1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .hero-content {
        margin: auto;
        margin-top: 8%;
        text-align: center;
        max-width: 600px;
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 7px 5px 56px -14px #000;
        padding: 40px;
        border-radius: 10px;
    }

    .hero-content-title {
        font-family: var(--font-logo);
        font-size: 60px;
        color: var(--color-secondary);
        text-wrap: balance;
    }

    .hero-content-text {
        font-size: 20px;
        margin-top: 45px;
        /* text-wrap: balance; */
        text-align: justify;
    }

    .hero-content-button {
        display: inline-block;
        margin-top: 45px;
        padding: 10px 60px;
        border-radius: 5px;
        font-size: 44px;
        color: var(--color-dark);
        background-color: var(--color-light);
        box-shadow: inset 0 0 0 0 var(--color-secondary);
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: inset 600px 0 0 0 var(--color-secondary);
        }

        &:active {
            transform: translateY(1px) scale(0.98);
        }
    }
}

.searchbar {
    margin: 76px 320px;

    .searchbar-content {
        display: flex;
        align-items: center;
        background: var(--bg-searchbar);
        border-radius: 10px;
        padding: 12px 20px;
        gap: 16px;

        .searchbar-filters {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            font-family: var(--font-title);
            font-size: 26px;
            color: var(--color-light);
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
                color: var(--color-secondary);
                transform: translateY(-2px);
            }

            &:active {
                transform: translateY(1px) scale(0.98);
            }
        }

        .searchbar-divider {
            height: 27px;
            width: 0.5px;
            background-color: #000;
        }

        .searchbar i {
            font-size: 22px;
        }

        .searchbar-search {
            flex: 1;
            background: transparent;
            border: none;
            font-size: 22px;
            color: var(--color-light);
            outline: none;
            font-style: italic;
        }
        
        .searchbar-button {
            background: transparent;
            border: none;
            font-family: var(--font-title);
            font-size: 26px;
            color: var(--color-light);
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
                color: var(--color-secondary);
                transform: translateY(-2px);
            }

            &:active {
            transform: translateY(1px) scale(0.98);
            }
        }
    }
}

.best-sales,
.sales,
.most-rated {
    padding: 75px 0;
}

.best-sales-content,
.sales-content,
.most-rated-content {
    margin: 0 320px 75px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.best-sales-content-title-container,
.sales-content-title-container,
.most-rated-content-title-container {
    width: 480px;
}

.best-sales-content-title-container h2,
.most-rated-content-title-container h2 {
    font-size: 40px;
}

.best-sales-content-title-container p,
.most-rated-content-title-container p {
    font-size: 16px;
}

.best-sales-content-filter,
.sales-content-filter,
.most-rated-content-filter {
    flex: 1;
}

.best-sales-content-filter-item,
.sales-content-filter-item,
.most-rated-content-filter-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: var(--font-title);
    font-size: 26px;
    color: var(--color-light);
    background-color: transparent;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease , background-color .3s ease;

    &:hover {
        transform: translateY(-2px);
        color: var(--color-dark);
        background-color: var(--color-light);
    }

    &:active {
        transform: translateY(1px) scale(0.98);
    }
}

.best-sales-content-more,
.sales-content-more,
.most-rated-more {
    font-size: 26px;
    color: var(--color-light);
    padding: 12px 28px;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    transition: transform 0.2s ease, background-color .3s ease;

    &:hover {
        transform: translateY(-2px);
        color: var(--color-dark);
        background-color: var(--color-light);
    }

    &:active {
        transform: translateY(1px) scale(0.98);
    }
}

.best-sales-cards,
.sales-cards,
.most-rated-cards {
    margin: 0 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.best-sales-cards-content,
.sales-cards-content,
.most-rated-cards-content {
    background-color: var(--bg-card);
    border-radius: 10px;
}

.best-sales-cards-content img,
.sales-cards-content img,
.most-rated-cards-content img {
    display: block;
    width: 100%;
}

.best-sales-cards-content h3,
.sales-cards-content h3,
.most-rated-cards-content h3 {
    font-size: 40px;
    margin-top: 30px;
    margin-left: 15px;
}

.sales {
    background-color: var(--color-tertiary);
    padding: 75px 0;

    .sales-content-title-container {
        h2 {
            color: var(--color-dark);
            font-size: 40px;
        }

        p {
            font-size: 16px;
            color: var(--color-dark);
        }
    }

    .sales-content-filter-item {
        color: var(--color-dark);
        border: 1px solid var(--color-dark);

        &:hover {
            color: var(--color-light);
            background-color: var(--color-dark);
        }
    }

    .sales-content-more {
        color: var(--color-dark);
        border: 1px solid var(--color-dark);

        &:hover {
            color: var(--color-light);
            background-color: var(--color-dark);
        }
    }
}

.stars {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 40px;
    margin-left: 15px;

    .bi-star-fill {
        color: var(--color-secondary);
    }
}

.sale {
    margin-top: -14px;
    margin-left: 15px;
    display: flex;
    gap: 8px;
    font-family: var(--font-title);
    font-size: 16px;

    .sale-discount {
        background-color: var(--color-tertiary);
        color: var(--color-dark);
    }

    .sale-price {
        text-decoration: line-through;
        color: #777777;
    }
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 15px 24px;

    .info-price {
        flex: 1;
        font-family: var(--font-title);
        font-size: 40px;
    }

    .free {
        color: var(--color-tertiary);
    }

    .info-buy {
        width: 92px;
        height: 38px;
        background-color: var(--color-light);
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        transition: transform .2s ease;

        &:hover {
            transform: translateY(-2px);
        }
        
        .info-buy-content {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        
        .info-buy-text,
        .info-buy-icon {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--font-title);
            font-size: 24px;
            color: var(--color-dark);
            transition: top 0.4s ease;
        }

        .info-buy-text {
            top: 0;
        }

        .info-buy-icon {
            top: 100%;
        }

        &:hover .info-buy-text {
            top: -100%;
        }

        &:hover .info-buy-icon {
            top: 0;
        }

        &:active {
            transform: translateY(1px) scale(0.98);
        }
    }

    .info-wish-list {
        font-size: 24px;
        color: var(--color-light);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: 36px;
        background-color: transparent;
        border: 1px solid var(--color-light);
        border-radius: 4px;
        cursor: pointer;
        transition: transform .2s ease;
        
        &:hover {
            transform: translateY(-2px);
        }
    
        &:active {
            transform: translateY(1px) scale(0.98);
        }
    }

}

.category {
    margin: 75px 344px;

    .category-container {
        background-color: var(--color-secondary);
        padding: 27px 75px;
        border-radius: 22px;
    }

    h2 {
        font-size: 36px;
        color: var(--color-dark);
        margin-bottom: 28px;
    }

    .category-content {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .category-content-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: .8;
            transition: opacity .3s ease, transform .3s;

            img {
                display: block;
                width: 100%;
            }

            p {
                position: absolute;
                bottom: 40px;
                font-family: var(--font-title);
                font-size: 36px;
                color: var(--color-light);
                padding: 0 8px;
                border-radius: 4px;
            }

            &:hover {
                transform: translateY(-2px);
                opacity: 1;
            }

            &:active {
                transform: translateY(1px) scale(0.98);
            }
        }
    }
}